:root {
  --time: 600ms;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  /* transition-timing-function: cubic-bezier(.17,.67,.83,.67); */
}

body {
  display: grid;

  grid-template-columns: 1fr;

  justify-items: center;
  align-items: center;

  min-height: 100vh;
  background-color: #191c29;
}

.wrapper {
  width: 200px;
  aspect-ratio: 9/14;

  perspective: 900px;
  transition-duration: var(--time);
}

.wrapper > .bg {
  transition-duration: var(--time);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;

  object-fit: cover;
}
.wrapper:hover > .bg {
  transform: rotateX(20deg);
}

.wrapper > .bg > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper > .bg > .darkening {
  inset: 0;
  position: absolute;
  filter: opacity(0);
  z-index: 3;

  transition-duration: var(--time);
  background-image: radial-gradient(circle 300px, transparent, black);
}
.wrapper:hover > .bg > .darkening {
  filter: opacity(1);
}
.wrapper .shadow {
  inset: 2px;
  background-color: rgba(0, 0, 0, 0.605);
  /* backdrop-filter: hue-rotate; */
  filter: blur(1rem);
  z-index: 1;
  transition-duration: var(--time);
  position: absolute;
}
.wrapper:hover .shadow {
  transform: translateY(5rem) scale(0.7);
  filter: blur(1.5rem);
}

.logo {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.2rem;
  z-index: 6;
  transition-duration: var(--time);
}
.wrapper:hover > .logo {
  transform: translateX(-50%) translateY(-0.5rem) scale(1.2);
}
.fg {
  position: absolute;
  height: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.2rem;
  filter: opacity(0);
  z-index: 5;
  transition-duration: var(--time);
}
.wrapper:hover > .fg {
  transform: translateX(-50%) translateY(-6.2rem) scale(1.4);
  filter: opacity(1);
}
